@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f5f7;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; 
}