.board {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.column {
  width: 240px;
  background: #ebebeb;
  padding: 10px;
  border-radius: 8px;
  min-height: 300px;
  /*max-height: 500px; */
  overflow-y: auto;  
}
.column h3{
align-items: center;
}
.column::-webkit-scrollbar {
  width: 8px;
}
.column::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 8px;
}
.column::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 8px;
}
.column::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

.column {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f4f4f4;
}

.columnActive {
  background-color: #e0e0e0;
  border: 2px dashed #333;
}

.editButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #007bff;
}

.editButton:hover {
  color: #0056b3;
}

.taskDescription {
  margin-top: 4px;
}

@media (max-width: 768px) {
  .board {
    flex-direction: column;
    align-items: center;
  }
  
  .column {
    width: 90%;         
    max-height: none;    
    margin-bottom: 16px;
  }
}
